
.idea/

analysis/iters/
analysis/iters_atoms/
asp_v2/v5/iters_atoms/
asp_v2/v5/answersets/
asp_v2/v5/atomed_preds
asp_v2/v5/selected_answersets

configs.json
logs/
asp/p3.lp
asp/test.lp
datasets/pseudo
datasets/
utils/__pycache__/
models/__pycache__/
wv/
layers/__pycache__/
functions/__pycache__/
data/__pycache__/
ckpts/
asp/__pycache__/
__pycache__/
datasets/conll04
